{% extends 'blog/base.html' %}

{% block content %}

{% for post in posts %} 
    <br>
    <div class="card text-center">
        <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">
            {{ post.summary }}
        </p>
        <a href="{% url 'blog:detail' post.slug %}" class="btn btn-primary">برو به این پست</a>
        </div>
        <div class="card-footer text-muted"> {{ post.updated }} </div> 
    </div>
    <br>

{% endfor %}
{% endblock %}